.main {
  background-color: #f5f5f7;
  text-align: center;
  padding: 0 16px 14px;
  height: 100%;

  &__list {
    margin: 0 -16px 8px;
    padding: 0;
  }

  &__text {
    margin: 81px 0 97px;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    color: #1c1c21;
  }

  &__button {
    background-color: #f5f5f7;
    border-color: #f5f5f7;
    box-shadow: none;
    width: 100%;
    border: none;
    position: relative;
    margin-bottom: 8px;
    background-image: url("../../icons/method-draw-image.svg");
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: #f5f5f7;

    &--selected {
      background-image: url("../../icons/button/selected.svg");
    }

    &--correct {
      background-image: url("../../icons/button/correct.svg");
    }

    &--wrong {
      background-image: url("../../icons/button/wrong.svg");
    }
  }
  &__img {
    width: 100%;
  }
  &__answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -50%);
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #000;

    &::first-letter {
      color: #3891b1;
      font-weight: 600;
    }
  }

  &__menu {
    width: 14px;
    height: 16px;
  }
}
